.navBarText {
  margin-left: 10px !important;
  font-size: 17px;
  margin-top: 13px;
}
.chat-list {
  height: 74vh;
  background-color: white;
}
.message-list {
  height: 68vh;
  border-left: 2px solid #f4f4f4;
  border-right: 2px solid #f4f4f4;
}
.user-list {
  height: 300px;
  overflow-y: scroll;
}
.message {
  margin-top: 10px;
}
.rce-mbox-text {
  padding: 3px;
}
.rce-mbox {
  background-color: antiquewhite !important;
}
.rce-mbox-right-notch {
  fill: aliceblue !important;
}
.rce-mbox-left-notch {
  fill: antiquewhite !important;
}
.rce-mbox-right {
  background-color: aliceblue !important;
}
body {
  background-color: #e6e6e6;
}
.form-group{
  border: 2px solid #f4f4f4;
}

.form-group {
  border: none!important;
}

.form-main{
  font-size: 14px;
  border-style: groove;
  margin-left: 25%;
}

.form-heading{
  margin-top: -3px;
  margin-left: -17px;
  margin-right: -15px;
  background-color: #343A40;
  margin-bottom:20px;
}

.form-title{
  padding-top:8px;
  padding-left:8px;
  height: 50px;
  font-size: 24px;
  color: #F7FFFF;
  border-style: groove;

}

.button-1{
  background-color: #343A40;
  color: #F7FFFF;
  margin-left: 220px;
  width: 230px;
}

.button-2{
  background-color: #3AC575;
  color: #F7FFFF;
  margin-left:18%;
  width: 230px;
}
.email-varification{
  margin-top: 10%;
  margin-left: 27%; 
}

.message{
  margin-top: 10px;
}


#register-link {
  margin-top: -85px;
}

.friendsdropdown{
  border: none;
  background: #FFFFFF;
  padding: 5px;
  width: 20px;
}

.dropdown-menu-right{
  position: absolute; 
  will-change: transform;
  top: 0px; 
  left: 0px; 
  transform: translate3d(101px, 34px, 0px);
}




.theme-construction {
  --radius: 0;
  --baseFg: black;
  --baseBg: white;
  --accentFg: white;
  --accentBg: #343A40;
}


select {
  font: 400 12px/1.3 sans-serif;
  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);
  border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: var(--radius);
  background-color: var(--baseBg);
  background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;   
}

/* select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
} */

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
}


